.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.fighters-grid {
  width: calc(205px * 4); /* calc function allows you to do math in css */
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.fighters-grid div {
  width: 200px;
  position: relative;
  transition: transform .3s;
  background-color: slategray;
}

.fighters-grid div:hover {
  cursor: pointer;
  transform: scale(1.07); /* makes it 5% bigger when you hover */
}
.fighter-name {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.8em;
  text-shadow: 2px 2px #000 ;
  text-transform: uppercase;
  
  color: white;
  
}
.fighter-img {
  width: 100%;
height: auto; /* by default this is true */
}