.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.fighters-grid {
  width: calc(205px * 4); /* calc function allows you to do math in css */
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.fighters-grid div {
  width: 200px;
  position: relative;
  transition: transform .3s;
}

.fighters-grid div:hover {
  cursor: pointer;
  transform: scale(1.07); /* makes it 5% bigger when you hover */
}
.fighter-name {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.8em;
  text-shadow: 2px 2px #000 ;
  text-transform: uppercase;
  
  color: white;
  
}
.fighter-img {
  width: 100%;
height: auto; /* by default this is true */
}
#fighter-screen {
  position: fixed; /*Takes element out of the document flow - takes it out of regular flow. z-index is the z axis. x is left and right, y is up and down and z is whether its closer to you or away*/
  height: 100vh; /* Because fighter screen is within another div, this will not take up the entire page*/
  width: 100%;
  top: 0; /* When you change the position you can edit the top left bottom and right */
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: 50% 50%;
  /* The z-index property specifies the stack order of an element. 
  An element with greater stack order is always in front of an element with a lower stack order.*/
}
#char-model {
  width: 600px;

}
#char-name {

}