.App {
  text-align: center;
}
.fighters-grid {
  display: flex;
  flex-wrap: wrap;
}
.fighters-grid div {
  width: 25%;
  transition: transform .3s;
  cursor: pointer;
}
.fighters-grid div:hover {
  transform: scale(1.07); /* makes it 5% bigger when you hover */
}